
<%- include ("../partials/head.ejs") %>

<body>
    
  <!-- HEADER ADMIN CONTAINER START-->
  
  <%- include("../partials/header-admin") %>

  <!-- END HEADER ADMIN CONTAINER -->

  <div class = "admin-space" style = "background-color: #f4f4f4;">

      <div class ="shippingInfo">
          
        <form method = "post" action = "/paypal/checkout" style ="width : 60%; margin : 0 auto;">
            <center><h1 style="font-family:Arial, Helvetica, sans-serif;">Shipping Information</h1></center>

            <div class="mb-3 mt-3">
              <input type="text" class="form-control" id="username" name = "username" placeholder="Username" value="<%= user.username %>" readonly>
          </div>
          <br>
            <div class="mb-3 mt-3">
              <input type="email" class="form-control" id="email" name = "email" placeholder="Email" value="<%= user.email %>" readonly>
          </div>
          <br>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" id="Country" name = "country" placeholder="Country" value="<%= user.country %>" required>
            </div>
                <br>
            <div class="mb-3">
                    <input type="text" class="form-control" id="city" name = "city" placeholder="City" value="<%= user.city %>" required>
            </div>
                <br>
            <div class="mb-3">
                    <input type="text" class="form-control" id="address" name = "address" placeholder="Address" value="<%= user.address %>" required>
            </div>
                <br>
            <div class="mb-3">
                  <input type="number" class="form-control" id="zipcode" name = "zipCode" placeholder="Zip-code" value="<%= user.zipCode %>" required>
            </div>
     
            <center><button type="submit" class="btn btn-dark">Confirm</button></center>
      </form>
     
      </div>

    </center>


 </div>
  <!-- jQery -->
  <script src="../js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="../js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="../js/custom.js"></script>

  <script>
    $(function () {
      setTimeout(function () {
        $('.alert').slideUp(500);
      }, 3000);
    });

  </script>
  

</body>

</html>